.karticaholder {
    margin-top: 135px;
    width: 33%;
    height: 100%;
    text-align: center;
    display: inline-block !important;
}
.holder{
    margin-left:10%;
    margin-right:10%
}
.search {
    text-align: center;
    position: sticky;
}

::ng-deep .mat-focused .mat-form-field-label {

    color: rgb(0, 0, 0) !important;
   }
  
   ::ng-deep.mat-form-field-underline {
  
    background-color: rgb(0, 0, 0) !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
  
   background-color: rgb(0, 0, 0) !important;
  }
  ::ng-deep .mat-form-field-label {
    color:#000 !important;
  }
  ::ng-deep .mat-focused .mat-form-field-label {
  
  color: rgb(0, 0, 0) !important;
  }
  
  ::ng-deep.mat-form-field-underline {
  
  background-color: rgb(0, 0, 0) !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
  
  background-color: rgb(0, 0, 0) !important;
  }

@media (max-width: 768px) {
    .karticaholder {
        width: 49%;
        height: 100%;
        margin-left: 1%
    }
}